.video-no-controls::-webkit-media-controls {
  display: none !important;
}
.video-no-controls::-webkit-media-controls-panel {
  display: none !important;
}
.video-no-controls::-webkit-media-controls-play-button {
  display: none !important;
}
.video-no-controls::-webkit-media-controls-start-playback-button {
  display: none !important;
}
.video-no-controls::-webkit-media-controls-overlay-play-button {
  display: none !important;
}